<app-navbar></app-navbar>

<div class="sidebyside">
    <app-user-card></app-user-card>
</div>
<div [ngClass]="['sidebyside', 'post-feed-container']">

    <div class="custom-search" style="text-align:center;">
        <form [formGroup]="submitForm" (ngSubmit)="viewAll()" novalidate class="search-wrapper cf">
            <!-- <button type="reset" name="reset_btn">Reset</button> -->
            <button class="custom-search-botton" type="submit">
                <mat-icon>search</mat-icon>
            </button>
            <input class="custom-search-input" #box type="text" formControlName="search_field"
                placeholder="Search user's first or last name!">
            <ul *ngFor="let user of users; let indexOfElement =index;">
                <li style="list-style:none" *ngIf="(box.value|lowercase)== (user.firstName|lowercase)|| (box.value|lowercase) == (user.lastName|lowercase)">User Email:
                    {{
                    user.email }}<br> User First Name:
                    {{ user.firstName }}<br> User Last Name: {{user.lastName}}<br> User Id: {{user.id}}
                    <button (click)="linkAll(user.id)">View user profile </button>
                </li>
            </ul>
        </form>
    </div>
    <br>


    <form class="form" *ngIf="!createPost; else createPostTemplate">
        <mat-form-field class="form-full-width">
            <mat-label>Something on your mind?</mat-label>
            <input matInput (focus)="toggleCreatePost()">
        </mat-form-field>
    </form>



    <ng-template #createPostTemplate>
        <form class="form" [formGroup]="postForm" (ngSubmit)="submitPost($event)">
            <mat-form-field class="form-full-width">
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text" required></textarea>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-label>Add an Image? Add a Youtube Video?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>
            <div align="end">
                <button style="border-radius: 5px; width: 60px;" (click)="toggleCreatePost()">Cancel</button>
                &nbsp;
                <button style="border-radius: 5px; width: 60px;" (click)="submitPost($event)"
                    [disabled]="!postForm.valid">Post</button>
            </div>

        </form>
    </ng-template>

    <div>
        <button *ngIf="!showBookmarks; else toggleButton" (click)="toggleFeed()">Show Bookmarked Posts</button>
        <ng-template #toggleButton>
            <button (click)="toggleFeed()">Show Feed</button>
        </ng-template>
        &nbsp;
        <ng-container *ngIf="!showBookmarks">
            <button *ngIf="!showFollows; else toggleFollow" (click)="toggleFollowedPosts()">Show Followed Posts</button>
            <ng-template #toggleFollow>
                <button (click)="toggleFollowedPosts()">Show Global Feed</button>
            </ng-template>
        </ng-container>

        <div *ngIf="!showBookmarks; else bookmarkFeed">
            <div *ngIf="!showFollows; else followFeed">
                <div id="post-feed" *ngFor="let post of posts">
                    <app-post [post]="post" [(bookmarkList)]="bookmarkedPosts"></app-post>
                </div>
            </div>
            <ng-template #followFeed>
                <div id="post-feed" *ngFor="let post of followedPosts">
                    <app-post [post]="post" [(bookmarkList)]="bookmarkedPosts"></app-post>
                </div>
            </ng-template>
        </div>
        <ng-template #bookmarkFeed>
            <div id="post-feed" *ngFor="let post of bookmarkedPosts">
                <app-post [post]="post" [(bookmarkList)]="bookmarkedPosts"></app-post>
            </div>
        </ng-template>
    </div>
</div>