<app-navbar></app-navbar>

<div class="sidebyside">
    <app-user-card></app-user-card>
</div>

<form [formGroup]="submitForm" (ngSubmit)="onSearch(box.value)" novalidate>
    <label for="search_field">Search for User: </label>
    <input class="her" #box type="text" formControlName="search_field" placeholder="Enter user's first name...">
    <button type="submit" name="submit_btn">Search</button>
    <button type="reset" name="reset_btn">Reset</button> 
</form><br>
<ul *ngFor = "let b of users">
    <li>{{ b.email }} - {{ b.firstName }} - {{b.lastName}} - {{b.phoneNumber}}</li> 
  </ul>

<div [ngClass]="['sidebyside', 'post-feed-container']">
    <form class="form" *ngIf="!createPost; else createPostTemplate">
        <mat-form-field class="form-full-width">
            <mat-label>Something on your mind?</mat-label>
            <input matInput (focus)="toggleCreatePost()">
        </mat-form-field>
    </form>

    <ng-template #createPostTemplate>
        <form class="form" [formGroup]="postForm" (ngSubmit)="submitPost($event)">
            <mat-form-field class="form-full-width">
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text" required></textarea>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-label>Add an Image?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>
            <div align="end">
                <button style="border-radius: 5px; width: 60px;" (click)="toggleCreatePost()">Cancel</button>
                &nbsp;
                <button style="border-radius: 5px; width: 60px;" (click)="submitPost($event)" [disabled]="!postForm.valid">Post</button>
            </div>

        </form>
</ng-template>

<div >
<div *ngIf="!showBookmarks; else toggleButton">
<button (click)="toggleFeed()">Show Bookmarked Posts</button>
</div>
<ng-template #toggleButton>
    <button (click)="toggleFeed()">Show Feed</button>
</ng-template>
<div *ngIf="!showBookmarks; else bookmarkFeed">
    <div id="post-feed" *ngFor="let post of posts">
        <app-post [post]="post" [(bookmarkList)]="bookmarkedPosts"></app-post>
    </div>
</div>
<ng-template #bookmarkFeed>
    <div id="post-feed" *ngFor="let post of bookmarkedPosts">
        <app-post [post]="post" [(bookmarkList)]="bookmarkedPosts" ></app-post>
    </div>
</ng-template>
</div>
</div>