<app-navbar></app-navbar>

<div class="sidebyside">
    <app-user-card></app-user-card>
</div>
<form [formGroup]="submitForm" (ngSubmit)="onSearch()" novalidate>
    <label for="search_field">Search for User: </label>
    <input type="text" formControlName="search_field">
    <button type="submit" name="submit_btn">Search</button>
    <button type="reset" name="reset_btn">Reset</button> 
</form>

<div [ngClass]="['sidebyside', 'post-feed-container']">
    <form class="form" *ngIf="!createPost; else createPostTemplate">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Something on your mind?</mat-label>
            <input matInput (focus)="toggleCreatePost()">
        </mat-form-field>
    </form>

    <ng-template #createPostTemplate>
        <form class="form" [formGroup]="postForm" (ngSubmit)="submitPost($event)">
            <mat-form-field class="full-width" appearance="fill" required>
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Add an Image?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleCreatePost()">Cancel</button>
                <button mat-raised-button color="primary" (click)="submitPost($event)"[disabled]="!postForm.valid">Post</button>
            </div>

        </form>
    </ng-template>
<div *ngIf="!showBookmarks; else toggleButton">
<button (click)="toggleFeed()">Show Bookmarked Posts</button>
</div>
<ng-template #toggleButton>
    <button (click)="toggleFeed()">Show Feed</button>
</ng-template>
<div *ngIf="!showBookmarks; else bookmarkFeed">
    <div id="post-feed" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
    </div>
</div>
<ng-template #bookmarkFeed>
    <div id="post-feed" *ngFor="let post of bookmarkedPosts">
        <app-bookmark [bookmarkedPost]="post"></app-bookmark>
    </div>
</ng-template>
</div>