<app-navbar></app-navbar>
<!-- <div class="card-body">
  <form #pwdForm="ngForm">
    <div class="form-group focused">
      <label class="form-control-label" for="currentPassword">Current Password</label>
      <input type="text" name="currentPassword" class="form-control form-control-alternative" placeholder="Password"
        ngModel>
      <br>
      <label class="form-control-label" for="newPassword">New Password</label>
      <input type="text" name="newPassword" class="form-control form-control-alternative" placeholder="Password"
        ngModel>
      <div class="text-center mt-md-5">
        <br>
        <p>
          <button (click)="onCall(pwdForm)" style="border-radius: 5px; width: 150px;">Change Password</button>
        </p>
      </div>
    </div>
  </form>
</div> -->
<div class="pass-body">
  <div class="card pass-form">
    <div class="card-body">
      <h1 class="card-title text-center">Change Password</h1>

      <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

      <div class="card-text">
        <form #pwdForm="ngForm">
          <div *ngIf="info" class="alert alert-info">
            <strong>{{notice}}</strong>
          </div>
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="text" name="currentPassword" class="form-control form-control-alternative"
              placeholder="Enter Password" ngModel required>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" class="form-control form-control-alternative"
              placeholder="Enter Password" ngModel required>
          </div>
          <button (click)="onCall(pwdForm)" style="width: 100%; margin-top: 10px;" [disabled]="!pwdForm.valid">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>